# Servidor
PORT=3000

# Base de Datos PostgreSQL
DB_NAME=SecureCollabChat
DB_USER=kevin
DB_PASSWORD=espe123
DB_HOST=localhost
DB_PORT=5432

# Seguridad
JWT_SECRET=CAMBIAR_EN_PRODUCCION
BCRYPT_ROUNDS=10

# Archivos
UPLOAD_LIMIT_MB=10
UPLOAD_DIR=uploads